<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="stylesheets/stx-demo.css" media="screen" />    <!-- Style sheet for stx-demo.js -->
<link rel="stylesheet" href="stylesheets/ammap.css" type="text/css">

<script type="text/javascript" src="javascripts/SAMPLEINTRADAY.js"></script>
<!-- Sample data -->

<script type="text/javascript" src="javascripts/stxUtilities.js"></script>
<script type="text/javascript" src="javascripts/stxMarket.js"></script>
<script type="text/javascript" src="javascripts/stxStudies.js"></script>
<script src="http://cbtc.herokuapp.com:80/socket.io/socket.io.js"></script>
</head>

<body>

<!-- This is your chart container. Position it anywhere, and in any way that you wish on your webpage
     the items inside the chart container are widgets that are overlayed on the chart itself such as
     controls for zooming.
-->
  <div id="chartContainer">
    <div id="chartControls">
      <div id="chartSize"> <span id="zoomOut" class="minus">-</span> <span id="zoomIn" class="plus">-</span> </div>
      <div id="home" class="home btn" style="display:none"><span>Today</span></div>
    </div>

    <div id="iconsTemplate" class="icons" style="display: none;">
      <div id="iconsTitle">Title</div>
      <div class="btn icon"><span class="up">&nbsp;</span></div>
      <div class="btn icon"><span class="focus">&nbsp;</span></div>
      <div class="btn icon"><span class="down">&nbsp;</span></div>
      <div class="btn icon"><span class="close">&nbsp;</span></div>
    </div>

    <div id="handleTemplate" class="handle" style="display: none;"><span>Drag</span></div>

    <div id="floatDate" class="hd" style="display: none;"></div>
    <div id="floatVolume" class="hd" style="display: none;"></div>
    <div id="floatHR" class="vd" style="display: none;"></div>
    <div id="currentHR" class="vd" style="display: none;"></div>

    <div id="mSticky">
            <span id="mStickyInterior"></span>
            <span id="overlayTrashCan" class="btn icon" style="display:none">
                    <span class="close">&nbsp;</span>
            </span>
    </div>

    <span id="annotationSave" class="btn">save</span> <span id="annotationCancel" style="margin-left:10px;" class="btn">cancel</span>
    <div id="crossY" class="stx_crosshair" style="display: none;"></div>
    <div id="crossX" class="stx_crosshair" style="display: none;"></div>
  </div>
  <!-- MAP -->

  <div id="maincontain">
    <div id="stocktwits-widget-news"></div>
    <div id="mapdiv"></div>
  </div>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
<script type="text/javascript" src="javascripts/stxChart.js"></script>
<script type="text/javascript" charset="ISO-8859-1" src="javascripts/stxModulus.js"></script>
<script type="text/javascript" charset="ISO-8859-1" src="javascripts/stxKernelOs.js"></script>




<!-- The Chart -->

<script>

  $(document).ready(function() {
    var stx=new STXChart(); // Declare a STXChart object. This is the main object for drawing charts.
    stx.manageTouchAndMouse=true;

    function convertArrayToJson(quotes){
        var jsObj=[];
        for(var i=0;i<quotes.length;i++){
                jsObj[i]={};
                jsObj[i].Date=quotes[i][0];
                jsObj[i].Open=quotes[i][1];
                jsObj[i].High=quotes[i][2];
                jsObj[i].Low=quotes[i][3];
                jsObj[i].Close=quotes[i][4];
                jsObj[i].Volume=quotes[i][5];
                jsObj[i].Adj_Close=quotes[i][6];
        }
        return jsObj;
  	}

    // Display the chart

    function displayChart(){
      stx.chart.symbol="BTC";
      // Set the internal symbol so that the display on the chart is correct
      // for(var i = 0; i < trade_data.emitted.complete[0].length; i ++) {
      //  	trade_data.emitted.complete[0][i].date = yyyymmddhhmm(strToDateTime(trade_data.emitted.complete[0][i].date));
      // }
      // console.log(strToDateTimesampleData);
      stx.setMasterData(convertArrayToJson(sampleDataIntraday)); // Initialize the data
      stx.setPeriodicityV2(1,1);
      stx.createDataSet();              // This step runs the calculations for any selected studies.
      stx.initializeChart($$("chartContainer"));                 // This initializes the chart to the container. Any existing canvases are removed.
      stx.draw();
      // var inputs={"Period":50, "Field":"Close","Type":"simple"};

      var inputs1={
        "Period": 2
      };

      var inputs={
        "Period": 3,
        "Shift": 1,
        "Moving Average Type": "ema"
      };

      STXStudies.quickAddStudy(stx, "rsi", inputs1);
      STXStudies.quickAddStudy(stx, "Keltner", inputs);
                  // Draw the chart. (This function is called continuously whenever the user scrolls, zooms, draws, etc)
    }
	        // Make an socketDATA array that the socket can push the JSON objects into, then sub out socketDATA for

	        // This is where the sample chart is grabbing the data

		// function streamSimulation2(trade_object){
		// 	// Grab the next tick in the series
		// 	var newTick=trade_object;
		// 	// if(streamCounter==streamingData.length) streamCounter=0;
		// 	var currentTick = strToDateTime(newTick.Date);
		// 	// Compute the beginning time of the next bar
		// 	var nextTickTime=STXMarket.nextPeriod(currentTick, stxx.layout.interval, 1, stxx);

		// 	// Determine whether to increment the bar time or not
		// 	var now=new Date(startTick.getTime()+(new Date().getTime()-streamStartTime));
		// 	if(now.getTime()>=nextTickTime.getTime()){
		// 		newTick.Date=yyyymmddhhmm(nextTickTime);
		// 		currentTick=nextTickTime;
		// 	}else{
		// 		newTick.Date=yyyymmddhhmm(currentTick);
		// 	}
		// 	// Inject the bar
		// 	stxx.appendMasterData([newTick]);

		// 	// Queue the next event
		// 	// setTimeout(streamSimulation,250);
		// }

    function streamSimulation(trade_object){
    	// debugger;
        // Grab the next tick in the series

        var newTick = trade_object;
        // clone(streamingData[streamingData[streamingData.length-1]])

        // Compute the beginning time of the next bar
        // var nextTickTime=STXMarket.nextPeriod(currentTick, stxx.layout.interval, 1, stxx)// How does this work? Whats the purpose?

        // Determine whether to increment the bar time or not
        // var now = new Date(startTick.getTime()+(new Date().getTime()-streamStartTime));
        // if(now.getTime()>=nextTickTime.getTime()){
        //         newTick.Date=yyyymmddhhmm(nextTickTime);
        //         currentTick=nextTickTime;
        // }else{
        //         newTick.Date=yyyymmddhhmm(currentTick);
        // }
        // Inject the bar
        // console.log("hi");
        // debugger;
        newTick.Date = yyyymmddhhmm(strToDateTime(newTick.Date));
        stx.appendMasterData([newTick]); // Add the new data point to the chart

        // Queue the next event
    };


    displayChart();

    // tryig to load historical data
    var loadHistoricalData = function(trade_data) {
      if (trade_data) {
        for(var i = trade_data.length - 1; i >= 0; i--) {
          if (trade_data[i] && trade_data[i].date) {
            var minbar = trade_data[i];
            var new_minbar = {
              Date: minbar.date,
              Open: minbar.open,
              High: minbar.high,
              Low: minbar.low,
              Close: minbar.close
            };
            streamSimulation(new_minbar);
            console.log("added new historical data point");
            console.log(new_minbar);
          }
        }
      } else {
        console.log("trade data does not exist yet");
      }
      stx.masterData.shift();
    };

    loadHistoricalData(trade_data);

    var socket = io.connect('http://cbtc.herokuapp.com:80');

    // var streamingData= [];

    socket.on('trades', function (minbar) {
    	// debugger;

    	var new_minbar = {
    		Date: minbar.date,
    		Open: minbar.open,
    		High: minbar.high,
    		Low: minbar.low,
    		Close: minbar.close
    	}

      // console.log(new_minbar)

    	// console.log("We got a trade!!! " + minbar);
    	streamSimulation(new_minbar);
    });

    socket.on('transactions', function (geo){
      // console.log("GEOOOOO"+geo)
      update_chart(geo);
    });

        	// This is where the sample chart is grabbing the data
  });

</script>


<!-- fetches last 30 min of data -->
<script type="text/javascript" src="/trades"></script>








<!-- The Map -->

<script type="text/javascript" src="map_javascripts/ammap.js"></script>
<!-- map file should be included after ammap.js -->

<script type="text/javascript" src="map_javascripts/worldLow.js"></script>

<script type="text/javascript">
  var map;

  // svg path for target icon
  var targetSVG = "M9,0C4.029,0,0,4.029,0,9s4.029,9,9,9s9-4.029,9-9S13.971,0,9,0z M9,15.93 c-3.83,0-6.93-3.1-6.93-6.93S5.17,2.07,9,2.07s6.93,3.1,6.93,6.93S12.83,15.93,9,15.93 M12.5,9c0,1.933-1.567,3.5-3.5,3.5S5.5,10.933,5.5,9S7.067,5.5,9,5.5 S12.5,7.067,12.5,9z";

  var scaler = function(size){
    if(size < 1){
      return 1.0
    }else if(size < 10){
      return 2.0
    }else if(size < 50){
      return 3.0
    }else{
      return 5.0
    }
  }

  var update_chart = function (geo) {
      map.dataProvider.images = [];
      // console.log("geo2"+geo[2]);
      var new_spot = {
        svgPath: targetSVG,
        zoomLevel:5,
        scale: scaler(geo[2]),
        title: "transaction",
        latitude: geo[0],
        longitude: geo[1],
      };
      map.dataProvider.images.push(new_spot); // Put the newest location in the array
      map.validateData();   // re-write the map
    // clear the locations array
  }

  AmCharts.ready(function() {
      map = new AmCharts.AmMap();
      map.pathToImages = "images/";
          //map.panEventsEnabled = true; // this line enables pinch-zooming and dragging on touch devices

      map.imagesSettings = {
          rollOverColor: "#CC0000",
          rollOverScale: 3,
          selectedScale: 3,
          selectedColor: "#CC0000"
      };

      var dataProvider = {
          mapVar: AmCharts.maps.worldLow,
          images: [
                          {svgPath:targetSVG, zoomLevel:5, scale:5.0, title:"Vienna", latitude:48.2092, longitude:16.3728},
          ]
      };
      map.dataProvider = dataProvider;
      // map.objectList = new AmCharts.ObjectList("listdiv");
      map.showImagesInList = false;
      map.write("mapdiv");
  });
</script>

<script type="text/javascript" src="http://stocktwits.com/addon/widget/2/widget-loader.min.js"></script>
<script type="text/javascript">
STWT.Widget({container: 'stocktwits-widget-news', symbol: 'bcoin', width: '555', height: '400', limit: '30', scrollbars: 'true', streaming: 'true', title: 'Bitcoin Tweets', style: {link_color: '4871a8', link_hover_color: '4871a8', header_text_color: '000000', border_color: 'cecece', divider_color: 'cecece', divider_color: 'cecece', divider_type: 'solid', box_color: 'f5f5f5', stream_color: 'ffffff', text_color: '000000', time_color: '999999'}});
</script>
</body>
</html>
