<!doctype html>
<html>
<!--
Sample file for Charting Library

Copyright 2012 by ChartIQ LLC
-->

<head>
<meta charset="utf-8" />
<title>ChartIQ</title>
<!-- Use these meta tags to bypass safari touch events on ipad, otherwise scrolling and drawing will not work -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="stylesheets/ammap.css" type="text/css">

<!-- Sample css file may be customized -->
<link rel="stylesheet" type="text/css" href="stylesheets/stx-demo.css" media="screen" />
<!--[if IE 8]><link rel="stylesheet" type="text/css" href="sample_style_ie8.css" media="screen" /><![endif]-->

<!-- Default Theme Options -->
<link href="stylesheets/stx-demo-theme-2.css" rel="stylesheet" type="text/css">
<link href="stylesheets/stx-demo-theme-1.css" rel="stylesheet" type="text/css">

<!-- Sample stock prices data -->
<!--[if IE 8]><script type="text/javascript" src="excanvas.js"></script><![endif]--><!-- Use excanvas.js to support IE8. See notes in chartContainer -->
<!--[if !IE 8]><!--><script type="text/javascript" src="javascripts/Intl.js"></script><!--<![endif]--><!-- W3C intl support. Use this until browsers have internal support for ECMA-402. Not compatible with IE8 -->
<!--[if !IE 8]><!--><script type="text/javascript" src="javascripts/timezone-js-master/date.js"></script><!--<![endif]--> <!-- Timezone support, library -->
<!--[if !IE 8]><!--><script type="text/javascript" src="javascripts/timezone-js-master/data.js"></script><!--<![endif]--> <!-- Timezone support, JSONP data file -->
<!--[if !IE 8]><!--><script type="text/javascript" src="javascripts/locale-data/jsonp/en-US.js"></script><!--<![endif]--><!-- Include the locale files that you require -->
<!--[if !IE 8]><!--><script type="text/javascript" src="javascripts/locale-data/jsonp/zh-Hans-CN.js"></script><!--<![endif]-->
<script type="text/javascript" src="javascripts/SAMPLEDATA.js"></script>
<script type="text/javascript" src="javascripts/SAMPLEINTRADAY.js"></script>

<!-- These Javascript files should be included here, before HTML -->
<script type="text/javascript" src="javascripts/iscroll.js"></script>
<script type="text/javascript" src="javascripts/stxUtilities.js"></script>
<script type="text/javascript" src="javascripts/stxMarket.js"></script>
<script type="text/javascript" src="javascripts/stxI18N.js"></script><!-- Sample translation support -->
<script type="text/javascript" src="javascripts/stxStudies.js"></script>
<script type="text/javascript" src="javascripts/stxSocial.js"></script><!-- Optional social library for generating images and sharing charts -->
<!--[if IE 8]><script>STX.isIE8=true;</script><![endif]-->
<script src="http://localhost:8080/socket.io/socket.io.js"></script>
</head>

<body onLoad="displayChart()" style="overflow:hidden">
<!------------------------------------------ PAGE CONTENTS ------------------------------------------>

<div class="stx-wrapper">
  <div class="stx-content">
      <div class="stx-nav">
        <div id="search">
          <input type="text" id="symbol" name="symbol" autocapitalize="off" autocorrect="off" spellcheck="off">
        </div>
        <div id="periodBtn" class="btn menu stxMenu">1D <em></em>
          <ul id="periodicity" class="periodicity menuSelect menuOutline" style="display:none">
            <li stxToggle="setPeriodicity(1,'day')">1 D</li>
            <li stxToggle="setPeriodicity(3, 'day')">3 D</li>
            <li stxToggle="setPeriodicity(1,'week')">1 W</li>
            <li stxToggle="setPeriodicity(2, 'week')">2 Wk</li>
            <li stxToggle="setPeriodicity(1, 'month')">1 Mo</li>
            <li class="divider"></li>
            <li stxToggle="setPeriodicity(1, 5)">5 Min</li>
            <li stxToggle="setPeriodicity(2, 5)">10 Min</li>
            <li stxToggle="setPeriodicity(3, 5)">15 Min</li>
            <li stxToggle="setPeriodicity(6, 5)">30 Min</li>
            <li stxToggle="setPeriodicity(20, 5)">1 hour</li>
          </ul>
        </div>

        <!-- These are very basic sample menus. You may replace these with another menuing system. Just follow the same onClick convention
    or provide proxy functions that call the same code-->

        <div id="menus">
          <div class="btn menu stxMenu">Chart <em></em>
            <ul id="chart-display" class="chart-display menuSelect menuOutline" style="display:none">
              <li class="heading">Chart Style</li>
              <li stxToggle="stxx.setChartType('candle')">Candle</li>
              <li stxToggle="stxx.setChartType('bar')">Bar</li>
              <li stxToggle="stxx.setChartType('colored_bar')">Colored Bar</li>
              <li stxToggle="stxx.setChartType('line')">Line</li>
              <li stxToggle="stxx.setChartType('hollow_candle')">Hollow Candles</li>
              <li class="divider"></li>
              <li class="heading">Chart Scale</li>
              <li class="stx-option" stxToggle="toggleLog()"> Log Scale <span class="stx-checkbox false">Off</span></li>
            </ul>
          </div>
          <div class="btn menu stxMenu">Studies <em></em>
            <div id="studies" class="studies menuSelect menuOutline" style="display:none">
              <ul class="col">
                <li stxToggle="studyDialog(this,'Acc Swing');">Accumulative Swing Index</li>
                <li stxToggle="studyDialog(this, 'Aroon');">Aroon</li>
                <li stxToggle="studyDialog(this, 'Aroon Osc');">Aroon Oscillator</li>
                <li stxToggle="studyDialog(this, 'ATR');">Average True Range</li>
                <li stxToggle="studyDialog(this, 'Bollinger Bands');">Bollinger Bands</li>
                <li stxToggle="studyDialog(this, 'COG');">Center Of Gravity</li>
                <li stxToggle="studyDialog(this, 'Chaikin MF');">Chaikin Money Flow</li>
                <li stxToggle="studyDialog(this, 'Chaikin Vol');">Chaikin Volatility</li>
                <li stxToggle="studyDialog(this, 'Chande Fcst');">Chande Forecast Oscillator</li>
                <li stxToggle="studyDialog(this, 'Chande Mtm');">Chande Momentum Oscillator</li>
                <li stxToggle="studyDialog(this, 'CCI');">Commodity Channel Index</li>
                <li stxToggle="studyDialog(this, 'Coppock');">Coppock Curve</li>
                <li stxToggle="studyDialog(this, 'Detrended');">Detrended Price Oscillator</li>
                <li stxToggle="studyDialog(this, 'Directional');">Directional Movement System</li>
                <li stxToggle="studyDialog(this, 'EOM');">Ease of Movement</li>
                <li stxToggle="studyDialog(this, 'Ehler Fisher');">Ehler Fisher Transform</li>
                <li stxToggle="studyDialog(this, 'Elder Force');">Elder Force Index</li>
                <li stxToggle="studyDialog(this, 'Elder Ray');">Elder Ray</li>
                <li stxToggle="studyDialog(this, 'Fractal Chaos Bands');">Fractal Chaos Bands</li>
                <li stxToggle="studyDialog(this, 'Fractal Chaos');">Fractal Chaos Oscillator</li>
              </ul>
              <ul class="col">
                <li stxToggle="studyDialog(this, 'Gopala');">Gopalakrishnan Range Index</li>
                <li stxToggle="studyDialog(this, 'High Low');">High Low Bands</li>
                <li stxToggle="studyDialog(this, 'High-Low');">High Minus Low</li>
                <li stxToggle="studyDialog(this, 'HHV');">Highest High Value</li>
                <li stxToggle="studyDialog(this, 'Hist Vol');">Historical Volatility</li>
                <li stxToggle="studyDialog(this, 'Intraday Mtm');">Intraday Momentum Index</li>
                <li stxToggle="studyDialog(this, 'Keltner');">Keltner Channel</li>
                <li stxToggle="studyDialog(this, 'Klinger');">Klinger Volume Oscillator</li>
                <li stxToggle="studyDialog(this, 'Lin Fcst');">Linear Reg Forecast</li>
                <li stxToggle="studyDialog(this, 'Lin Incpt');">Linear Reg Intercept</li>
                <li stxToggle="studyDialog(this, 'Lin R2');">Linear Reg R2</li>
                <li stxToggle="studyDialog(this, 'LR Slope');">Linear Reg Slope</li>
                <li stxToggle="studyDialog(this, 'LLV');">Lowest Low Value</li>
                <li stxToggle="studyDialog(this, 'macd');">MACD</li>
                <li stxToggle="studyDialog(this, 'Mass Idx');">Mass Index</li>
                <li stxToggle="studyDialog(this, 'Med Price');">Median Price</li>
                <li stxToggle="studyDialog(this, 'Momentum');">Momentum Oscillator</li>
                <li stxToggle="studyDialog(this, 'M Flow');">Money Flow Index</li>
                <li stxToggle="studyDialog(this, 'ma');">Moving Average</li>
                <li stxToggle="studyDialog(this, 'MA Env');">Moving Average Envelope</li>
              </ul>
              <ul class="col">
                <li stxToggle="studyDialog(this, 'Neg Vol');">Negative Volume Index</li>
                <li stxToggle="studyDialog(this, 'On Bal Vol');">On Balance Volume</li>
                <li stxToggle="studyDialog(this, 'PSAR');">Parabolic SAR</li>
                <li stxToggle="studyDialog(this, 'Perf Idx');">Performance Index</li>
                <li stxToggle="studyDialog(this, 'Pos Vol');">Positive Volume Index</li>
                <li stxToggle="studyDialog(this, 'Pretty Good');">Pretty Good Oscillator</li>
                <li stxToggle="studyDialog(this, 'Price Osc');">Price Oscillator</li>
                <li stxToggle="studyDialog(this, 'Price ROC');">Price Rate of Change</li>
                <li stxToggle="studyDialog(this, 'Price Vol');">Price Volume Trend</li>
                <li stxToggle="studyDialog(this, 'Prime Number Bands');">Prime Number Bands</li>
                <li stxToggle="studyDialog(this, 'Prime Number');">Prime Number Oscillator</li>
                <li stxToggle="studyDialog(this, 'QStick');">QStick</li>
                <li stxToggle="studyDialog(this, 'Random Walk');">Random Walk Index</li>
                <li stxToggle="studyDialog(this, 'RAVI');">RAVI</li>
                <li stxToggle="studyDialog(this, 'rsi');">RSI</li>
                <li stxToggle="studyDialog(this, 'Schaff');">Schaff Trend Cycle</li>
                <li stxToggle="studyDialog(this, 'STD Dev');">Standard Deviation</li>
                <li stxToggle="studyDialog(this, 'stochastics');">Stochastics</li>
                <li stxToggle="studyDialog(this, 'Stch Mtm');">Stochastic Momentum Index</li>
                <li stxToggle="studyDialog(this, 'stochastics');">Stochastic Oscillator</li>
              </ul>
              <ul class="col">
                <li stxToggle="studyDialog(this, 'Swing');">Swing Index</li>
                <li stxToggle="studyDialog(this, 'Time Fcst');">Time Series Forecast</li>
                <li stxToggle="studyDialog(this, 'Trade Vol');">Trade Volume Index</li>
                <li stxToggle="studyDialog(this, 'TRIX');">TRIX</li>
                <li stxToggle="studyDialog(this, 'True Range');">True Range</li>
                <li stxToggle="studyDialog(this, 'Twiggs');">Twiggs Money Flow</li>
                <li stxToggle="studyDialog(this, 'Typical Price');">Typical Price</li>
                <li stxToggle="studyDialog(this, 'Ultimate');">Ultimate Oscillator</li>
                <li stxToggle="studyDialog(this, 'VT HZ Filter');">Vertical Horizontal Filter</li>
                <li stxToggle="createVolumePanel();">Volume</li>
                <li stxToggle="toggleVolumeUnderlay();">Vol Underlay</li>
                <li stxToggle="studyDialog(this, 'Vol Osc');">Volume Oscillator</li>
                <li stxToggle="studyDialog(this, 'Vol ROC');">Volume Rate of Change</li>
                <li stxToggle="studyDialog(this, 'Weighted Close');">Weighted Close</li>
                <li stxToggle="studyDialog(this, 'Williams %R');">Williams %R</li>
                <li stxToggle="studyDialog(this, 'W Acc Dist');">Williams Accumulation Distribution</li>
              </ul>
            </div>
          </div>
          <div id="cogBtn" class="btn menu stxMenu">&nbsp;<em></em>
              <ul id="cog" class="cog menuSelect menuOutline" style="display:none">
               <li class="heading">Timezone</li>
                <li stxToggle="STXDialogManager.displayDialog('timezoneDialog');STXTimeZoneWidget.populateDialog('timezoneDialog');">Change Timezone</li>
                <li class="divider">&nbsp;</li>
                <li class="heading">Default Themes</li>
                <li class="content">
                  <ul class="menuSelect" id="builtInThemeSelector">
                    <li>White</li>
                    <li>Black</li>
                  </ul></li>
                <li class="content">
                  <ul class="injected" id="customThemeSelector">
                    <li class="heading">Custom Themes</li>
                    <li class="themeSelectorTemplate" style="display:none"><a class="stxItem">Custom Theme 1</a>
                      <div class="btn icon"><span class="close stxClose">x</span></div>
                    </li>
                  </ul>
                </li>
                <li class="content"><div class="btn theme" stxToggle="STXDialogManager.displayDialog('themeDialog');STXThemeManager.populateDialog('themeDialog', stxx);">New Custom Theme</div></li>
             </ul>
          </div>
        </div>
        <div id="shareBtn" class="btn nav-icon share" onClick="STXSocial.shareChartExample()" style="display:none">Share</div>
      </div>

      <div class="stx-toolbar" id="stx-toolbar">
        <div class="drawOptions">
          <div class="drawBtn btn menu stxMenu"> <span id="toolSelection">Select Tool</span> <em></em>
            <ul id="toolbarDraw" class="draw menuSelect menuOutline" style="display:none;">
            <li stxtoggle="STXDrawingToolbar.setVectorType(stxx,'');STXDrawingToolbar.crosshairs(stxx,false)">None</li>
            <li stxtoggle="STXDrawingToolbar.setVectorType(stxx,'');STXDrawingToolbar.crosshairs(stxx,true)">Crosshairs</li>
              <li stxtoggle="STXDrawingToolbar.setVectorType(stxx,'annotation');">Annotation</li>
              <li stxtoggle="STXDrawingToolbar.setVectorType(stxx,'fib retrace');">Fibonacci</li>
              <li stxtoggle="STXDrawingToolbar.setVectorType(stxx,'horizontal');">Horizontal</li>
              <li stxtoggle="STXDrawingToolbar.setVectorType(stxx,'line');">Line</li>
              <li stxtoggle="STXDrawingToolbar.setVectorType(stxx,'ray');">Ray</li>
              <li stxtoggle="STXDrawingToolbar.setVectorType(stxx,'segment');">Segment</li>
              <li stxtoggle="STXDrawingToolbar.setVectorType(stxx,'rectangle');">Rectangle</li>
            </ul>
          </div>
          <div class="stx-drawing">
            <div class="stx-draw-settings stxToolbarFill">
              <div class="heading">Fill:</div>
              <div class="color stxFillColorPicker" style="background-color: rgb(253, 104, 100);"><span></span></div>
            </div>
            <div class="stx-draw-settings stxToolbarLine">
              <div class="heading">Line:</div>
              <div class="color stxLineColorPicker" style="background-color: rgb(80, 80, 80);"><span></span></div>
              <div class="stx-line-style btn menu stxMenu"> <span class="stx-line style1 weight1 stxLineDisplay">Solid 1px</span><em></em>
                  <ul id="stx-line-style-menu" class="stx-line-style-menu menuSelect menuOutline" style="display:none;">
                      <li stxToggle="STXDrawingToolbar.setLine(1,'solid')"><span class="stx-line style1 weight1">Solid 1px</span></li>
                      <li stxToggle="STXDrawingToolbar.setLine(3,'solid')"><span class="stx-line style1 weight2">Solid 2px</span></li>
                      <li stxToggle="STXDrawingToolbar.setLine(5,'solid')"><span class="stx-line style1 weight3">Solid 3px</span></li>
                      <li class="stxToolbarDotted divider"></li>
                      <li class="stxToolbarDotted" stxToggle="STXDrawingToolbar.setLine(1,'dotted')"><span class="stx-line style2 weight1">Dotted 1px</span></li>
                      <li class="stxToolbarDotted" stxToggle="STXDrawingToolbar.setLine(3,'dotted')"><span class="stx-line style2 weight2">Dotted 2px</span></li>
                      <li class="stxToolbarDotted" stxToggle="STXDrawingToolbar.setLine(5,'dotted')"><span class="stx-line style2 weight3">Dotted 3px</span></li>
                      <li class="stxToolbarDashed divider"></li>
                      <li class="stxToolbarDashed" stxToggle="STXDrawingToolbar.setLine(1,'dashed')"><span class="stx-line style3 weight1">Dashed 1px</span></li>
                      <li class="stxToolbarDashed" stxToggle="STXDrawingToolbar.setLine(3,'dashed')"><span class="stx-line style3 weight2">Dashed 2px</span></li>
                      <li class="stxToolbarDashed" stxToggle="STXDrawingToolbar.setLine(5,'dashed')"><span class="stx-line style3 weight3">Dashed 3px</span></li>
                      <li class="stxToolbarNone divider"></li>
                      <li class="stxToolbarNone" stxToggle="STXDrawingToolbar.setLine(0,'none')">None</li>
                    </ul>
              </div>
            </div>
          </div>

        </div>
        <ul class="hu">
          <li><span class="huLabel">O: </span><span id="huOpen" class="huField"></span></li>
          <li><span class="huLabel">H: </span><span id="huHigh" class="huField"></span></li>
          <li><span class="huLabel">V: </span><span id="huVolume" class="huField"></span></li>
          <li><span class="huLabel">C: </span><span id="huClose" class="huField"></span></li>
          <li><span class="huLabel">L: </span><span id="huLow" class="huField"></span></li>
        </ul>
      </div>

    <div class="stx-chartArea">
      <!-- This is the container for the chart itself. This div will be passed in to the STXChart object. You may place this
                    anywhere on your page. Keep the chartControls div embedded within the container for full functionality. The chart canvas
                    will automatically size itself to the dimensions of the chartContainer but it will not automatically resize if the container
                    dimensions change. Therefore, if your container is limited by screen dimensions then you must detect screen resizing events
                    and call STXChart.resizeChart() when those events happen. For instance, on a mobile device when an orientation change occurs.
                    -->
      <div id="chartContainer">
        <!--
                    IE8 is supported through the excanvas.js library. For IE8, canvas elements must be included in the html
                    code itself. The library will clone these canvases internally. If you don't plan on supporting IE8 you
                    can safely remove these elements.
                    -->
        <!--[if IE 8]><canvas id="ie8canvas" width="0" height="0" style="display:none"></canvas><![endif]-->
        <!--[if IE 8]><canvas id="ie8canvasTemp" width="0" height="0" style="display:none"></canvas><![endif]-->

        <!------------------------------------------ CHART TEMPLATES  ------------------------------------------>
        <!-- Chart Controls (Includes zooming/panning and "jump" to today) -->
        <div id="chartControls" style="display:none">
          <div id="chartSize"> <span id="zoomOut" onMouseOver="STXDialogManager.modalBegin()" onMouseOut="STXDialogManager.modalEnd()" class="minus">-</span> <span id="zoomIn" onMouseOver="STXDialogManager.modalBegin()" onMouseOut="STXDialogManager.modalEnd()" class="plus">-</span> </div>
          <div id="home" class="home btn" style="display:none"><span>Today</span></div>
        </div>

        <!-- These are html "templates" they are hidden html components which are replicated by the STXChart object
                        to create the chart controls. Customization of these is not recommended -->

        <div id="iconsTemplate" class="icons" style="display: none;">
          <div id="iconsTitle">Title</div>
          <div class="btn icon"><span class="up">&nbsp;</span></div>
          <div class="btn icon"><span class="focus">&nbsp;</span></div>
          <div class="btn icon"><span class="down">&nbsp;</span></div>
          <div class="btn icon"><span class="close">&nbsp;</span></div>
        </div>

        <!-- Panel Size Control -->
        <div id="handleTemplate" class="handle" style="display: none;"><span>Drag</span></div>

        <!-- Chart Floating Overlay Templates -->
        <div id="floatDate" class="hd" style="display: none;"></div>
        <div id="floatVolume" class="hd" style="display: none;"></div>
        <div id="floatHR" class="vd" style="display: none;"></div>
        <div id="currentHR" class="vd" style="display: none;"></div>

        <div id="mSticky">
          <span id="mStickyInterior"></span>
          <span id="overlayTrashCan" class="btn icon" style="display:none">
            <span class="close">&nbsp;</span>
          </span>
        </div>

        <span id="annotationSave" class="btn">save</span> <span id="annotationCancel" style="margin-left:10px;" class="btn">cancel</span>
        <div id="crossY" class="stx_crosshair" style="display: none;"></div>
        <div id="crossX" class="stx_crosshair" style="display: none;"></div>
      </div>
    </div>

    <img id="loading" src="stx-loading.gif" style="display:none">

    <!-- Indicator Dialogs -->
    <div class="dialogContainer">
      <!-- The studyDialog is a general purpose dialog for entering the parameters for studies. It may be customized so long
    as the id an class names remain the same. Note that it contains templates which are replicated dynamically -->
      <div id="studyDialog" style="display:none;" class="dialog">
        <h4 class="title">Study Title</h4>
        <div onClick="STXDialogManager.dismissDialog()" class="btn icon close"><span class="close">Close</span></div>
        <div id="inputs">
          <div class="inputTemplate" style="display:none">
            <div class="heading">Heading</div>
            <div class="data"></div>
          </div>
        </div>
        <div id="outputs">
          <hr/>
          <div class="outputTemplate" style="display:none">
            <div class="heading">Heading</div>
            <div class="color"><span></span></div>
          </div>
        </div>
        <div id="parameters"></div>
        <div onClick="createStudy();STXDialogManager.dismissDialog()" class="btn">Create</div>
      </div>
    </div>

    <div id="studyOverZones" style="display:none">
    Show Zones<input id="studyOverZonesEnabled" type="checkbox">
    <div class="outputTemplate">
      <div class="heading">OverBought</div>
      <div class="data">
        <input id="studyOverBoughtValue" type="text" style="width:18px;">
        <div class="color" id="studyOverBoughtColor"><span></span></div>
        </div>
    </div>
    <div class="outputTemplate">
      <div class="heading">OverSold</div>
        <div class="data">
        <input id="studyOverSoldValue" type="text" style="width:18px;">
        <div class="color" id="studyOverSoldColor"><span></span></div>
        </div>
    </div>
    </div>

    <!-- Timezone Dialogs -->
    <div class="dialogContainer">
      <div id="timezoneDialog" style="display:none;" class="dialog">
        <h4 class="title">Choose Timezone</h4>
        <div onClick="STXDialogManager.dismissDialog()" class="btn icon close"><span class="close">Close</span></div>
        <div id="timezoneDialogWrapper" style="max-height:400px;">
          <ul>
            <li id="timezoneTemplate" style="display:none;cursor:pointer;"></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Sharing Dialogs -->
    <div class="dialogContainer">
      <div id="sharedLinkDialog" style="display:none;" class="dialog">
        <h4 class="title">Shared Chart URL</h4>
        <div onClick="STXDialogManager.dismissDialog()" class="btn icon close"><span class="close">Close</span></div><br>
        <a id="shareLink" href="">Share This Chart!</a>
      </div>
    </div>

    <!-- Theme Dialog -->
    <div class="dialogContainer">
      <div id="themeDialog" style="display:none" class="dialog">
        <h4>Create a New Custom Theme</h4>
        <div onClick="STXDialogManager.dismissDialog()" class="btn icon close"><span class="close">Close</span></div>
        <div class="settings">
          <ul>
            <li class="heading">Chart Style</li>
            <li>
              <div class="heading">Candles</div>
              <div class="data">
                <div class="color stx_candle_up"><span></span></div>
                <div class="color stx_candle_down"><span></span></div>
              </div>
            </li>
            <li>
              <div class="heading"><input id="candleBordersOn" type="checkbox" checked> Border</div>
              <div class="data">
                <div class="border stx_candle_up"><span></span></div>
                <div class="border stx_candle_down"><span></span></div>
              </div>
            </li>
            <li>
              <div class="heading">Line/Bar/Wick</div>
              <div class="data">
                <div class="color stx_candle_shadow"><span></span></div>
              </div>
            </li>
          </ul>
          <ul>
            <li class="heading">Background</li>
            <li>
              <div class="heading">Background</div>
              <div class="data">
                <div class="color backgroundColor"><span></span></div>
              </div>
            </li>
            <li>
              <div class="heading">Grid Lines</div>
              <div class="data">
                <div class="color stx_grid"><span></span></div>
              </div>
            </li>
            <li>
              <div class="heading">Date Dividers</div>
              <div class="data">
                <div class="color stx_grid_dark"><span></span></div>
              </div>
            </li>
            <li>
              <div class="heading">Axis Text</div>
              <div class="data">
                <div class="color stx_xaxis_dark"><span></span></div>
              </div>
            </li>
          </ul>
        </div>
        <label class="themeName" for="themeName">New Theme Name:</label><input type="text" id="themeName" name="themeName" autocapitalize="off" autocorrect="off" spellcheck="off">
        <div onClick="STXThemeManager.saveTheme($$('themeName').value, stxx);STXDialogManager.dismissDialog()" class="btn">Save Theme</div>
      </div>
    </div>
  </div>
</div>

<!--
Include these files *after* the required HTML components
-->
<script type="text/javascript" src="stxChart.js"></script>
<script type="text/javascript" charset="ISO-8859-1" src="stxModulus.js"></script>
<script type="text/javascript" charset="ISO-8859-1" src="stxKernelOs.js"></script>
<script type="text/javascript" charset="ISO-8859-1" src="stxUI.js"></script>
<script>

//$$("chartContainer").style.height=$$("chartContainer").parentNode.clientHeight + "px";

// Declare a STXChart object. This is the main object for drawing charts
var stxx=new STXChart();
//stxx.translationCallback=stxTranslate(stxWordList); // Optional. For multi-lingual usage, pass in your own word list, or set your own translation callback
//stxx.setLocale("zh-Hans-CN");             // Optional but recommended. Set locale in order to localize dates and numbers.
stxx.manageTouchAndMouse=true;            // Chart engine manages it's own touch and mouse events, required when displaying multiple charts. Comment out document level management in main() when using this mechanism.

//Once a JavaScript array of quotes is in the required format, these are the steps necessary to rended a chart
function loadChart(symbol, quotes){
  // Set the internal symbol so that the display on the chart is correct
  stxx.chart.symbol=symbol;
  // Initialize the data
  stxx.setMasterData(quotes);
  // Create an initial data set. This step runs the calculations for any selected studies. Note that this
  // method gets called whenever a study is added or whenever periodicity is changed
  stxx.createDataSet();
  // This initializes the chart to the container. Any existing canvases are removed.
  stxx.initializeChart($$("chartContainer"));
  // Draw the chart. This function will be called whenever the user scrolls, zooms, draws, etc
  stxx.draw();
  // Display the chart controls for zooming
  /*var inputs={
      Period: "14"
  };
  var sd=STXStudies.quickAddStudy(stxx, "rsi", inputs);
  sd.permanent=true;*/
  stxx.draw();
}

function loadIntradayChart(symbol, quotes){
  stxx.setPeriodicityV2(1, 5);  // sample data is 5 minute intervals

  // The charting widget defaults to 24 hours of display for intraday charting.
  // Changing the market times is only necessary if you are displaying charts from an exchange with opening and closing periods
  stxx.chart.beginHour=9;
  stxx.chart.beginMinute=30;
  stxx.chart.endHour=16;
  stxx.chart.endMinute=0;

  // Set the internal symbol so that the display on the chart is correct
  stxx.chart.symbol=symbol;
  // Initialize the data
  stxx.setMasterData(quotes);
  // Create an initial data set. This step runs the calculations for any selected studies. Note that this
  // method gets called whenever a study is added or whenever periodicity is changed
  stxx.createDataSet();
  // This initializes the chart to the container. Any existing canvases are removed.
  stxx.initializeChart($$("chartContainer"));
  // Draw the chart. This function will be called whenever the user scrolls, zooms, draws, etc
  stxx.draw();
  // Display the chart controls for zooming
}

//This is a sample function to demonstrate how to convert a JavaScript array into an appropriate
//JSON object for the quote engine. Adj_Close should be the closing price adjusted for splits or dividends.
//If that data is not available then set it the same as Close. Most Date formats are supported. Use American
//formats such as MM-DD-YYYY
function convertArrayToJson(quotes){
  var jsObj=[];
  for(var i=0;i<quotes.length;i++){
    jsObj[i]={};
    jsObj[i].Date=quotes[i][0];
    jsObj[i].Open=quotes[i][1];
    jsObj[i].High=quotes[i][2];
    jsObj[i].Low=quotes[i][3];
    jsObj[i].Close=quotes[i][4];
    jsObj[i].Volume=quotes[i][5];
    jsObj[i].Adj_Close=quotes[i][6];
  }
  return jsObj;
}

// This is a sample to demonstrate how the results of the open Yahoo Finance API can be used
// to generate chart data. Be sure to use the Yahoo Finance symbol format (symbology) in the input box
function convertYahooResults(quotes){
  if(quotes && quotes.length==0) return;
  for(var i=0;i<quotes.length;i++){
    quotes[i].Open=parseFloat(quotes[i].Open);
    quotes[i].Close=parseFloat(quotes[i].Close);
    quotes[i].High=parseFloat(quotes[i].High);
    quotes[i].Low=parseFloat(quotes[i].Low);
    quotes[i].Volume=parseFloat(quotes[i].Volume);
    quotes[i].Adj_Close=parseFloat(quotes[i].Adj_Close);
  }
  if(quotes.length>1){  // Weird Yahoo thing where they give duped bars after hours
    if(quotes[quotes.length-1].Date==quotes[quotes.length-2].Date){
      quotes.pop();
    }
  }
}

// Callback function for Yahoo API
function cbfunc(yqlResult){
  var count=yqlResult.query.count;
  if(count>0){
    var quotes=yqlResult.query.results.quote;
    quotes.reverse();
    convertYahooResults(quotes);
    loadChart($$("symbol").value, quotes);
  }
}

// Example of how to retrieve data from Yahoo API. This utilizes so called JSONP concept. Note that Yahoo API is not
// always available. This code does not error check and so a user may simply experience nothing if the Yahoo API
// is down. Do not use in production without adding code to detect "unavailable" responses from Yahoo.
var seq=0;  // Use a sequential counter to prevent IE from caching Yahoo script
function getYahooQuotes(symbol){
  var today=new Date();
  var curr_date = today.getDate();
  if(curr_date<10) curr_date="0" + curr_date;
  var curr_month = today.getMonth()+1;
  if(curr_month<10) curr_month="0" + curr_month;
  var curr_year = today.getFullYear();

  var yyyymmdd=curr_year + "-" + curr_month + "-" + curr_date;
  var yyyymmdd2=(curr_year-1) + "-" + curr_month + "-" + curr_date;
  var url="http://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20yahoo.finance.historicaldata%20where%20symbol%3D'" + symbol + "'%20and%20startDate%3D'" + yyyymmdd2 + "'%20and%20endDate%3D'" + yyyymmdd + "'&format=json&diagnostics=true&env=http%3A%2F%2Fdatatables.org%2Falltables.env&callback=cbfunc" + "&seq=" + seq++;
  var newScript=document.createElement("script");
  $$("loading").style.display="block";
  newScript.src=url;
  newScript.onload=function(){
    $$("loading").style.display="none";
  };
  newScript.onerror=function(){
    $$("loading").style.display="none";
  };
  document.body.appendChild(newScript);
}

function toggleLog(){
  stxx.layout.semiLog=!stxx.layout.semiLog;
  stxx.draw();
  stxx.changeOccurred("layout");
  stxx.doDisplayCrosshairs();
}

// There is a distinction between end of day intervals (day, week, month) and intraday intervals.
// Your periodicity function will likely be more complex and should load the appropriate time series data
// based on the user's selection. Note that weekly and monthly data can be calculated automatically from daily
// data if enough of it is supplied with a query.
function setPeriodicity(periodicity, interval){
  var currentlyDaily=stxx.isDailyInterval(stxx.layout.interval);
  var becomingDaily=stxx.isDailyInterval(interval);
  if(!currentlyDaily && becomingDaily){ // From intraday to daily
    stxx.setPeriodicityV2(periodicity, interval);
    loadChart("SAMPLE", convertArrayToJson(sampleData));
  }else if(currentlyDaily && !becomingDaily){ // From daily to intraday
    loadIntradayChart("SAMPLE", convertArrayToJson(sampleDataIntraday));
    stxx.setPeriodicityV2(periodicity, interval);
  }else{
    stxx.setPeriodicityV2(periodicity, interval);
  }
  var displayMap={
      "day":{"1":"1D","3":"3D"},
      "week":{"1":"1W","2":"2W"},
      "month":{"1":"1M"},
      "5":{"1":"5m","2":"10m","3":"15m","6":"30m","20":"1H"}
  };
  $$$("#periodBtn").childNodes[0].data=displayMap[interval][periodicity];
}

// Creates a new study derived from the contents of the studyDialog that is passed in
function createStudy(){
  STXStudies.go($$("studyDialog"), stxx); // Note, please add stxx as second parameter in order to translate studies
}

// Creates a panel that contains volume data. Volume panels are always named "vchart"
function createVolumePanel(){
  if(stxx.panelExists("vchart")) return;
  stxx.createPanel("Volume", "vchart", 100);
  stxx.draw();
}

// Underlays volume data under the chart itself
function toggleVolumeUnderlay(){
  stxx.setVolumeUnderlay(!stxx.layout.volumeUnderlay);
}

// Indirection function for creating the study dialog.
function studyDialog(obj, study){
  if(!stxx || stxx.chart.dataSet.length==0) return;
  $$("studyDialog").querySelectorAll(".title")[0].innerHTML=obj.innerHTML;
  STXStudies.studyDialog(stxx, study, $$("studyDialog"));
  STXDialogManager.displayDialog("studyDialog");
}

// Example of how to use injection to create a floating date on the x-axis
function prependDoDisplayCrosshairs(){
  if((this.layout.crosshair || STXChart.vectorType!="") && this.panels["chart"] && STXChart.crosshairX>0){
    if(stxx.panels["chart"].bottom){
      var floatDate=$$("floatDate");
      floatDate.style.left=(this.backOutX(STXChart.crosshairX)-(floatDate.offsetWidth/2)) + "px";
      floatDate.style.bottom=(this.chart.canvasHeight-this.panels["chart"].bottom) + "px";
      floatDate.style.display="block";
    }else{
      $$("floatDate").style.display="none";
    }
  }else{
    $$("floatDate").style.display="none";
  }
}

function prependUndisplayCrosshairs(){
  if(this.displayInitialized){
    if(this.chart.crossX.style.display==""){
      $$("floatDate").style.display="none";
    }
  }
}

STXChart.prototype.prepend("doDisplayCrosshairs", prependDoDisplayCrosshairs);
STXChart.prototype.prepend("undisplayCrosshairs", prependUndisplayCrosshairs);

// Update the head's up display
function prependHeadsUpHR(){
  var tick=Math.floor((STXChart.crosshairX-this.chart.left)/this.layout.candleWidth);
  var prices=this.chart.xaxis[tick];

  $$("huOpen").innerHTML="";
  $$("huClose").innerHTML="";
  $$("huHigh").innerHTML="";
  $$("huLow").innerHTML="";
  $$("huVolume").innerHTML="";
  if(prices!=null){
    if(this.internationalizer){
      var str=this.internationalizer.monthDay.format(prices.DT);
      str+=" " + this.internationalizer.hourMinute.format(prices.DT);
      $$("floatDate").innerHTML=str;
    }else{
      $$("floatDate").innerHTML=mmddhhmm(prices.Date);
    }
    if(prices.data){
      $$("huOpen").innerHTML=this.formatPrice(prices.data.Open);
      $$("huClose").innerHTML=this.formatPrice(prices.data.Close);
      $$("huHigh").innerHTML=this.formatPrice(prices.data.High);
      $$("huLow").innerHTML=this.formatPrice(prices.data.Low);
      $$("huVolume").innerHTML=condenseInt(prices.data.Volume);
    }
  }
}

STXChart.prototype.prepend("headsUpHR", prependHeadsUpHR);

//An example of extending native functionality. This simply displays the "home" icon if the chart has been scrolled
//left. That is, if the "scroll" amount is greater than the size of the screen (maxTicks).
function appendDraw(){
  if(this.chart.scroll>this.chart.maxTicks){
    $$("home").style.display="block";
  }else{
    $$("home").style.display="none";
  }
}

STXChart.prototype.append("draw", appendDraw);

var streamingData=[
{Date:null,Open:155.43,High:155.44,Low:155.39,Close:155.4,Volume:466380},
{Date:null,Open:155.41,High:155.48,Low:155.4,Close:155.46,Volume:466480},
{Date:null,Open:155.45,High:155.55,Low:155.43,Close:155.5,Volume:466580},
{Date:null,Open:155.49,High:155.51,Low:155.41,Close:155.41,Volume:466680},
{Date:null,Open:155.41,High:155.49,Low:155.38,Close:155.47,Volume:466780},
{Date:null,Open:155.47,High:155.5,Low:155.44,Close:155.45,Volume:466880},
{Date:null,Open:155.45,High:155.47,Low:155.43,Close:155.46,Volume:500},
{Date:null,Open:155.47,High:155.5,Low:155.44,Close:155.48,Volume:1000},
{Date:null,Open:155.49,High:155.49,Low:155.46,Close:155.47,Volume:30000},
{Date:null,Open:155.47,High:155.53,Low:155.46,Close:155.51,Volume:100000},
{Date:null,Open:155.51,High:155.52,Low:155.45,Close:155.47,Volume:3000},
{Date:null,Open:155.46,High:155.47,Low:155.37,Close:155.41,Volume:50000},
{Date:null,Open:155.41,High:155.42,Low:155.38,Close:155.41,Volume:100000},
{Date:null,Open:155.41,High:155.46,Low:155.4,Close:155.45,Volume:400000},
{Date:null,Open:155.32,High:155.48,Low:155.3,Close:155.41,Volume:500000}
];
var streamCounter=0;
var startTick=strToDateTime("2013-03-20 13:40");
var currentTick=startTick;
var streamStartTime=new Date().getTime();

// This method is a very simple streaming simulation to demonstrate how to hook up a streaming feed to your
// charts. This simulation simply runs in a loop. Yours will either do the same and poll, or you could trigger
// off of aysnchronous events.
// Simply use stxx.appendMasterData() to inject new ticks into the chart. Your ticks should be fully formed OHLC
// The chart will not automatically calculate OHLC, that is up to you. It is also up to you to make sure that
// you only inject new ticks that begin on the appropriate interval for the chart. So if your data is based
// off of 5 minute bars then your appended data should also be 5 minute bars.
//
// When ticks are injected with the same starting datetime as the current tick then the new data replaces the existing
// current tick. If ticks are injected with later datetime then they will be appended to the masterData.
//
// Please note that appendMasterData creates a new dataSet with each tick. This means that all of the study calculations
// are recomputed with each tick. If you need faster performance, and are willing to give up automatically calculated studies,
// then manually append to stxx.chart.dataSegment (followed by stxx.draw())

function streamSimulation(){
  // Grab the next tick in the series
  var newTick=clone(streamingData[streamCounter++]);
  if(streamCounter==streamingData.length) streamCounter=0;

  // Compute the beginning time of the next bar
  var nextTickTime=STXMarket.nextPeriod(currentTick, stxx.layout.interval, 1, stxx);

  // Determine whether to increment the bar time or not
  var now=new Date(startTick.getTime()+(new Date().getTime()-streamStartTime));
  if(now.getTime()>=nextTickTime.getTime()){
    newTick.Date=yyyymmddhhmm(nextTickTime);
    currentTick=nextTickTime;
  }else{
    newTick.Date=yyyymmddhhmm(currentTick);
  }
  // Inject the bar
  stxx.appendMasterData([newTick]);

  // Queue the next event
  setTimeout(streamSimulation,250);
}

function displayChart(){
  stxx.chart.symbol="BTC";
  loadChart("SAMPLE", convertArrayToJson(sampleDataIntraday));
  //streamSimulation();
}

function resizeScreen(){
  if(stxx && stxx.chart.canvas!=null){
    stxx.resizeChart();
  }
}

window.onresize=resizeScreen;

runSampleUI();
</script>




<!-- The Map -->

<script type="text/javascript" src="map_javascripts/ammap.js"></script>
<!-- map file should be included after ammap.js -->

<script type="text/javascript" src="map_javascripts/worldLow.js"></script>

<script type="text/javascript">
  var map;

  // svg path for target icon
  var targetSVG = "M9,0C4.029,0,0,4.029,0,9s4.029,9,9,9s9-4.029,9-9S13.971,0,9,0z M9,15.93 c-3.83,0-6.93-3.1-6.93-6.93S5.17,2.07,9,2.07s6.93,3.1,6.93,6.93S12.83,15.93,9,15.93 M12.5,9c0,1.933-1.567,3.5-3.5,3.5S5.5,10.933,5.5,9S7.067,5.5,9,5.5 S12.5,7.067,12.5,9z";

  var update_chart = function () {
      dataProvider.images.push(newest_json); // Put the newest location in the array
      map.write("mapdiv");   // re-write the map
      dataProvider.images = [];     // clear the locations array
  }

  AmCharts.ready(function() {
      map = new AmCharts.AmMap();
      map.pathToImages = "images/";
          //map.panEventsEnabled = true; // this line enables pinch-zooming and dragging on touch devices

      map.imagesSettings = {
          rollOverColor: "#CC0000",
          rollOverScale: 3,
          selectedScale: 3,
          selectedColor: "#CC0000"
      };

      var dataProvider = {
          mapVar: AmCharts.maps.worldLow,
          images: [
                          {svgPath:targetSVG, zoomLevel:5, scale:5.0, title:"Vienna", latitude:48.2092, longitude:16.3728},
          {svgPath:targetSVG, zoomLevel:5, scale:0.5, title:"Minsk", latitude:53.9678, longitude:27.5766},
          ]
      };

      map.dataProvider = dataProvider;

      // map.objectList = new AmCharts.ObjectList("listdiv");
      map.showImagesInList = false;

      map.write("mapdiv");
  });
</script>

<script type="text/javascript" src="http://stocktwits.com/addon/widget/2/widget-loader.min.js"></script>
<script type="text/javascript">
STWT.Widget({container: 'stocktwits-widget-news', symbol: 'bcoin', width: '555', height: '400', limit: '30', scrollbars: 'true', streaming: 'true', title: 'Bitcoin Tweets', style: {link_color: '4871a8', link_hover_color: '4871a8', header_text_color: '000000', border_color: 'cecece', divider_color: 'cecece', divider_color: 'cecece', divider_type: 'solid', box_color: 'f5f5f5', stream_color: 'ffffff', text_color: '000000', time_color: '999999'}});
</script>
</body>
</html>
