<!doctype html>
<html>
  <head>
    <script src="http://localhost:8080/socket.io/socket.io.js"></script>
  </head>
  <body>

    <script>
      var socket = io.connect('http://localhost:8080');

      var $allTrades = $allTrades || [];


      var insertMessage = function(trade_object) {
        $allTrades.shift();
        console.log("this is itttt");

        // console.log(data);
        $allTrades.push(trade_object);
        console.log($allTrades);
      };

      socket.on('trades', function (trade_object) {
        insertMessage(trade_object);
      });
    </script>

    <script id="entry-template" type="text/x-handlebars-template">
      template content
    </script>

  </body>
</html>

